<h1>Listing folders</h1>



<% @folders.each do |folder| %>

    <%#= folder.name %>
    <%#= folder.description %>
    <%folder.pictures.each do |pic|%>
      
        <div class="container">
          <div class="image_holder">
            <%=image_tag pic.image_url(:thumb).to_s if pic.image? %>
          </div>
          <div class="album_name_holder">
            <%= folder.name %>
          </div>
          <div class="album_desc_holder">
            <%= folder.description %>
          </div>
        </div>
          <%break%>
    <%end%>
    <%= link_to 'Show', folder_pictures_path(folder) %>
    <%= link_to 'Edit', edit_folder_path(folder) %>
    <%= link_to 'Destroy', folder, method: :delete, data: { confirm: 'Are you sure?' } %>
    <br>
<% end %>


<br />

<%= link_to 'New Folder', new_folder_path %>
