<h1>Listing pictures</h1>

<table>
  <tr>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pictures.each do |picture| %>
  <tr>
    <td><%=image_tag picture.image_url(:thumb) if picture.image? %></td>
    <td><%= link_to 'Show', folder_picture_path(@folder,picture) %></td>
    <td><%= link_to 'Edit', edit_folder_picture_path(@folder,picture) %></td>
    <td><%= link_to 'Destroy', folder_picture_path(@folder,picture), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Picture', new_folder_picture_path %>
<%= link_to 'Back to Albums', folders_path %>
