
<h1>Pictures</h1>
<%#= paginate @pictures %>
<%= link_to 'New Picture', new_folder_picture_path %>
<%= link_to 'Back to Albums', folders_path%> 
<ul class="thumbnails">
  <% @pictures.each do |picture| %>
    <li class="span4">
      <div class="thumbnail">
        <%=image_tag(picture.image_url,:size=>"300x200") if picture.image_url %>
        <%= link_to 'Show', folder_picture_path(@folder,picture) %>
        <%= link_to 'Edit', edit_folder_picture_path(@folder,picture) %>
        <%= link_to 'Destroy', folder_picture_path(@folder,picture), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </li>
  <% end %>
</ul>
<br />

