<!DOCTYPE html>
<html>
<head>
  <title>Album</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner" style="-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="#">Sagar Albums</a>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
          <form class="navbar-search pull-left" method="post"action=<%=folders_path("search")%>>
            <input type="text" class="search-query" placeholder="Search" name="search">
          </form>
          <li class="active"><%= link_to "Sign out", destroy_user_session_path,:method=>:delete%></li>
          <%else%>
            <li class="active"><%= link_to "Sign up", new_user_registration_path %></li><li><%= link_to "Sign in", new_user_session_path %></li>
          <%end%>
        </ul>
        <div class="nav-collapse">
 
        </div>
      </div>
    </div>
  </div>





  <div id="user_nav">
 <% flash.each do |name, msg| %>
 <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
   <a class="close" data-dismiss="alert">&#215;</a>
   <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
 </div>
<% end %>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="span9"><%= yield %></div>
      <div class="span3"></div>
    </div>
    
  </div>
</body>
</html>
